@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-color:rgb(208, 229, 255);
    --black-text-color: rgb(36, 36, 36);
    --primary-color: #00468B;
    --white-text-color: white;
}

body {
    background: var(--bg-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.navbar .left p {
    font-size: 30px;
    font-weight: 800;
    color: var(--nav-text-color);
}

/* Manu Items Start */



.items {
    display: flex;
    flex-wrap: wrap;
    
}

.items a {
    text-decoration: none;
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 10px;
}

.items a:hover {
    color: var(--primary-color);
}

.menu-btn img {
    width: 30px;
}

.menu-btn {
    display: none;
}

/* Manu Items End */




/* ..............Home section start............ */

.home {
    min-height: 100vh;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 150px;
    justify-content: space-between;
    align-items: center;

}

.home-container .home-left {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.home-container .home-left h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
.home-container .home-left h1 span {
    color: #ffffff;
    background-color: #00468B;
    font-size: 35px;
    padding: 5px;
    border-radius: 5px;
    
}

.home-right img{
    width: 500px;
}
