@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

:root {
    --bg-color:rgb(208, 229, 255);
    --black-text-color: rgb(36, 36, 36);
    --primary-color: #00468B;
    --white-text-color: white;
}

body {
    background: var(--bg-color); 
    scroll-behavior: smooth;
}

/* .....................Nav bar start................ */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0032f93c;
    padding: 10px 20px;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(15px);
    z-index: 999;
    transition: .5s ease;
}

.navbar .left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.navbar .left img {
    width: 60px;
    margin-right: -20px;
}

.navbar .left .logoname {
    width: 230px;
    margin-left: 20px;
}

.menu-btn i {
    font-size: 25px;
    
}

.menu-btn {
    display: none;
}

/* Nav bar hide and show for scrolling */

.nav--hidden{
    transform: translateY(-60px);
}

/* .....................Nav bar end................ */


/* ..................Manu Items Start................ */



.items {
    display: flex;
    flex-wrap: wrap;
    
}

.items a {
    text-decoration: none;
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 10px;
}

.items a:hover {
    color: var(--primary-color);
}


/* ....................Menu Items End................ */




/* ..............Home section start............ */

.home {
    height: auto;
}

.home-container {
    display: flex;
    padding: 150px 150px;
    justify-content: space-between;
    align-items: center;

}

.home-container .home-left {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.home-container .home-left h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.home-container .home-left h1 span {
    color: #ffffff;
    background-color: #00468B;
    font-size: 35px;
    padding: 5px;
    border-radius: 5px;
    
}

.home-right img{
    width: 500px;
}

.auto-heading {
    font-size: 35px;
    font-weight: 500;
}

/* ............Services section start........... */



.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px;
    padding-top: 0px;
}

.services-heading {
    font-size: 30px;
    margin-bottom: 20px;
}

.services-para {
    margin-bottom: 50px;
}

/* ..................One and three............ */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    margin-bottom: 80px;
}

.wrapper .left-service img {
    width: 700px;
    border-radius: 10px;
    position: relative;
}

.wrapper .left-service {
    
    margin-left: -31%;
    
}

.wrapper .right-service {
    position: absolute;
    background-color: rgba(0, 0, 79, 0.468);
    width: 350px;
    color: white;
    padding: 30px 20px;
    right: 20%;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.26);
   
}


.wrapper .right-service h1 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
}

.wrapper .right-service p {
    line-height: 1.6;
    color: #f0f0f0;
}


/* .....................two.................... */


.wrapper .left-service.two img {
    width: 700px;
    border-radius: 10px;
    position: relative;
}

.wrapper .left-service.two {
    
    margin-right: -31%;
}



.wrapper .right-service.two {
    position: absolute;
    background-color: #02564f8e;
    width: 350px;
    color: white;
    padding: 30px 20px;
    left: 20%;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.26);
   
}
.wrapper .right-service.two h1 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
}

.wrapper .right-service.two p {
    line-height: 1.6;
    color: #f0f0f0;
}

/* .....................four.................... */


.wrapper .left-service.four img {
    width: 700px;
    border-radius: 10px;
    position: relative;
}

.wrapper .left-service.four {
    
    margin-right: -31%;
}



.wrapper .right-service.four {
    position: absolute;
    background-color: #02564f8e;
    width: 350px;
    color: white;
    padding: 30px 20px;
    left: 20%;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.26);
   
}
.wrapper .right-service.four h1 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
}

.wrapper .right-service.four p {
    line-height: 1.6;
    color: #f0f0f0;
}

/* ............Services section end........... */


/* ............Projects section Start........... */

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects-heading {
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.projects-para {
    margin-bottom: 100px;
    padding: 0 50px;
}

.wrapper-projects {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.project {
width: 300px;
background-color: rgba(255, 255, 255, 0.29);
padding: 40px 20px;
border-radius: 30px;
backdrop-filter: blur(10px);
transition: .3s ease;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.071);
}

.project:hover{
    scale: 1.03;
}

.project img {
    width: 250px;
    border-radius: 10px;
}
.project h1 {
    font-size: 20px;
    color: #00458bd0;
    margin: 10px 0;
    text-transform: uppercase;
}

/* ............Projects section End........... */

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.team h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

/*................swiper JS.............. */

  .swiper {
    width: 100%;
    height: 100%; 
    margin-bottom: 30px;
    
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 50px;
  }

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 30px;
  color: rgb(21, 165, 255);
  
}

/* team card design */


  .team-card {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.29);
    padding: 40px 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.276);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.071);
  }

  .team-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.119);
    
  }

  .team-card h1 {
    font-size: 18px;
    margin: 20px;
    font-weight: 500;
  }

  .team-card p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  